#notif-container {
    position:absolute;
    display:flex;
    flex-direction: column;
    top:var(--spc-lg);
    right:0;
    width:fit-content;
    z-index: 15;
}
#notif-container > div {
    position:relative;
    min-width: 20rem;
    color:var(--scn-10);
    --color: #ffffff;
    display:flex;
    flex-direction: column;
    height:fit-content;
}
#notif-container .content {
    position:relative;
    display: flex;
    gap:var(--spc-sm);
    background:var(--scn-80);
    padding:var(--spc-sm);
}
#notif-container .icon {
    font-size: 3rem;
    color:var(--color);
}
#notif-container .text {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#notif-container .title {
    font-weight:600;
    font-size:var(--fs-sm);
}
#notif-container .description {
    font-weight:400;
    max-width: 47ch;
    word-wrap: break-word;
    white-space: normal;
    padding-right: var(--spc-md);
    font-size:var(--fs-xs);
}
#notif-container .bar {
    align-self: flex-end;
    width:100%;
    height: 5px;
    background:var(--color);
}
#notif-container .cover {
    top:0;
    right:0;
    width:100%;
    position:absolute;
    height:100%;
    background:var(--color);
}